<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script th:src="@{/js/ajax.js}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script th:src="@{/js/user.js}"></script
    ><title>User list (Admin) </title>
    <script>
        $(document).ready(function ($) {
            $("#edit-form").submit(function (event) {
                event.preventDefault();
                postEdit();
            });
        });
    </script>
</head>
<body>
<header class="header">
    <div class="header-right">
        <form th:action="@{/logout}" method="post">
            <button class="button-logout" type="submit">Logout</button>
        </form>
    </div>
</header>
<div class="main">
    <div class="sidebar">
        <a class="sidebar-link-check" href="/admin">Admin</a>
        <a href="/user">User</a>
    </div>
    <div class="main-content">
        <div class="content">
            <h1>Admin panel</h1>
            <div class="tabs">
                <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                <label for="tab-btn-1">User table</label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                <label for="tab-btn-2">New User</label>

                <div id="content-1">
                    <div class="content-header">
                        <h4>All Users</h4>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>surename</th>
                            <th>address</th>
                            <th>user name</th>
                            <th>password</th>
                            <th>roles</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.id}">id</td>
                            <td th:text="${user.name}">name</td>
                            <td th:text="${user.sureName}">surename</td>
                            <td th:text="${user.address}">address</td>
                            <td th:text="${user.userName}">userName</td>
                            <td th:text="${user.password}">password</td>
                            <td>
                                <ul>
                                    <li th:each="role : ${user.getRoles()}" th:text="${role.getName()}"></li>
                                </ul>
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" th:attr="data-toggle='modal', data-target='#edituser' + ${user.id}">Edit</button>
                            </td>
                            <td><button type="button" class="button-delete" th:attr="data-toggle='modal', data-target='#deleteModal' + ${user.getId()}">Delete</button></td>

                        </tr>

                        </tbody>
                    </table>
                </div>
                <div id="content-2">
                    <form th:action="@{/admin/saveUser}" th:object="${user}" method="POST">
                        <label class="new-user-label" for="name">Name</label>
                        <input type="text" id="name" name="name" required><br>

                        <label for="sureName">Sure name</label>
                        <input type="text" id="sureName" name="sureName" required><br>

                        <label for="address">Adress</label>
                        <input type="text" id="address" name="address" required><br>

                        <label for="userName">User name</label>
                        <input type="text" id="userName" name="userName" required><br>

                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" required><br>

                        <label for="role">Role</label>
                        <select id="role" name="role">
                            <option value="USER">USER</option>
                            <option value="ADMIN">ADMIN</option>
                        </select><br>

                        <button class="button-submit" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Window AJAX-->

<div th:id="edituser" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit user</h4>
            </div>
            <div class="modal-body">
                <form id="edit-form" role="form" th:method="post" th:action="@{/admin/saveUser}"
                      th:object="${user}">
                    <input id="update-id" type="hidden" th:field="*{id}" th:value="${user.id}"/>
                    <fieldset class="form-group">
                        <label for="edit_id">ID</label>
                        <input th:field="*{id}" th:value="${user.id}" class="form-control"
                               id="edit_id"
                               type="text"
                               placeholder="id"
                               readonly><br>

                        <label for="edit_firstname">First name</label>
                        <input th:field="*{name}" th:value="${user.name}" class="form-control"
                               id="edit_firstname"
                               type="text"
                               placeholder="firstname"
                               required><br>

                        <label for="edit_sureName">Surename</label>
                        <input th:field="*{sureName}" th:value="${user.sureName}" class="form-control"
                               id="edit_sureName"
                               type="text"
                               placeholder="sureName"
                               required><br>
                        <label for="edit_address">Address</label>
                        <input th:field="*{address}" th:value="${user.address}" class="form-control"
                               id="edit_address"
                               type="text"
                               placeholder="address"
                               required><br>
                        <label for="edit_userName">User name</label>
                        <input th:field="*{userName}" th:value="${user.userName}" class="form-control"
                               id="edit_userName"
                               type="text"
                               placeholder="userName"
                               required><br>
                        <label for="edit_password">Password</label>
                        <input th:field="*{password}" th:value="${user.password}" class="form-control"
                               id="edit_password"
                               type="password"
                               placeholder="password"
                               required><br>
                        <label for="edit_role">Role</label>
                        <select id="edit_role" name="role">
                            <option value="USER">USER</option>
                            <!--<option th:field="*{roles}" value="ADMIN" th:selected="${user.roles.contains('ADMIN')}">ADMIN</option>-->
                        </select><br>
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-success" type="submit">Save</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- Модальное окно удаления для каждого пользователя -->

</body>
</html>